.search-teacher-comp {
    margin-top:20px;
    margin-left:50px;

}

.search-teacher-comp table
{
    width: 100%;
}

.search-teacher-comp .table-wrapper {
  width: 1200px;
}

.search-teacher-comp .filter-wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 1100px;
  box-shadow: 0 6px 6px #ccc;
  width: 1200px;
}

.search-teacher-comp .filter-wrapper .flex-row div
{
  margin-right: 15px;
}

.search-teacher-comp .filter-wrapper input {
  width: 150px;
}

.search-teacher-comp .filter-wrapper button {
    float:right;
    margin-right:10px;
}

.search-teacher-comp .mat-header-cell {
  width: 250px;
}
