<div>
  <div class="center">
    <h4>Contact Details</h4>
  </div>
  <mat-card class="contact-card">
    <mat-card-header>
      <div>
        <mat-card-subtitle></mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-subtitle><i class="bi bi-person-square" style="font-size:26px;"></i>Contact</mat-card-subtitle>
    <mat-card-content>
    </mat-card-content>
    <div class="ctt-grid-container card-content">
      <div>
        <span class="details-lbl">First Name</span>
        <br />
        <span *ngIf="!isCreatingContact && !isUpdatingContact" class="value-lbl">{{firstName}}</span>
        <input *ngIf="isCreatingContact || isUpdatingContact" class="" [(ngModel)]="firstName" />
      </div>
      <div>
        <span class="details-lbl">Middle Name</span>
        <br />
        <span *ngIf="!isCreatingContact && !isUpdatingContact" class="value-lbl">{{middleName}}</span>
        <input *ngIf="isCreatingContact || isUpdatingContact" class="" [(ngModel)]="middleName" />
      </div>
      <div>
        <span class="details-lbl">City</span>
        <br />
        <span *ngIf="!isCreatingContact && !isUpdatingContact" class="value-lbl">{{lastName}}</span>
        <input *ngIf="isCreatingContact || isUpdatingContact" class="" [(ngModel)]="lastName" />
      </div>
      <div>
        <span class="details-lbl">Email</span>
        <br />
        <span *ngIf="!isCreatingContact && !isUpdatingContact" class="value-lbl">{{email}}</span>
        <input *ngIf="isCreatingContact || isUpdatingContact" class="" [(ngModel)]="email" />
      </div>
      <div>
        <span class="details-lbl">Phone</span>
        <br />
        <span *ngIf="!isCreatingContact && !isUpdatingContact" class="value-lbl">{{phone}}</span>
        <input *ngIf="isCreatingContact || isUpdatingContact" class="" [(ngModel)]="phone" />
      </div>
    </div>
    <mat-card-actions>
      <mat-divider inset></mat-divider>
      <button *ngIf="!isUpdatingContact && hasContact()" (click)="setUpdateContactForm(true)" mat-button>EDIT</button>
      <button *ngIf="!hasContact() && !isCreatingContact" (click)="setCreateContactForm(true)">ADD</button>
      <button *ngIf="isCreatingContact" matt-button (click)="createContact()">Create</button>
      <button *ngIf="isUpdatingContact" matt-button (click)="updateContact()">Update</button>
      <button *ngIf="isCreatingContact" class="cancelBtn" matt-button (click)="setCreateContactsForm(false)">Cancel</button>
      <button *ngIf="isUpdatingContact" class="cancelBtn" matt-button (click)="setUpdateContactForm(false)">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
