.institution-card {
  min-height: 300px;
  width: 250px;
  margin-top: 20px;
  margin-left: 50px;
}

.institution-card .card-content {
  min-height: 150px;
}

.institution-card .details-lbl{
  font-weight: 400;
  font-size: 14px;
  color:darkgray;
}

.institution-card button {
  border: 0px;
  padding: 5px;
  color: white;
  background-color: #5b6ab1;
  outline: none;
}

.institution-card .cancelBtn{
    margin-left: 10px;
}

.institution-card .mat-card-actions {
  height: 50px;
}
.institution-card .mat-card-actions button {
  position: relative;
  top: 50%;
}
