<mat-card class="institution-card">
  <mat-card-header>
    <div>
      <mat-card-subtitle></mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-subtitle><i class="bi bi-building" style="font-size:26px;"></i>My Institution</mat-card-subtitle>
  <mat-card-content>
  </mat-card-content>
  <div>
    <div>
      <span class="details-lbl">Name</span>
      <br />
      <span *ngIf="!isCreatingInstitution" class="value-lbl">{{getName()}}</span>
      <input *ngIf="isCreatingInstitution" class="" value="{{institutionName}}"/>
    </div>
    <div *ngIf="!isCreatingInstitution">
      <span class="details-lbl">Is Active</span>
      <br />
      <span *ngIf="!isCreatingInstitution" class="value-lbl">{{getIsActive()}}</span>
    </div>
    <div *ngIf="!isCreatingInstitution">
      <span class="details-lbl">Creation Date</span>
      <br />
      <span *ngIf="!isCreatingInstitution" class="value-lbl">{{getCreationDate()}}</span>
    </div>
  </div>
  <mat-card-actions>
    <mat-divider inset></mat-divider>
    <button *ngIf="hasInstitution" mat-button>EDIT</button>
    <button *ngIf="!hasInstitution" matt-button (click)="setCreateInstitutionForm(true)">Create</button>
    <button *ngIf="isCreatingInstitution" class="cancelBtn" matt-button (click)="setCreateInstitutionForm(false)">Cancel</button>
  </mat-card-actions>
</mat-card>
