/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "~bootstrap-icons/font/bootstrap-icons.css";
a {
  color: #2ba84a;
}

a:hover {
  font-weight: bold;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.default-color {
  color: #6b6969;
}

.center {
  position: relative;
  margin: auto;
  width: fit-content;
}

.app-block {
  display: block;
}

.app-inline-block {
  display: inline-block;
}

.app-alert {
  color: red;
}

.btn-disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.page-content {
  box-shadow: 0 2px 5px black;
  height: 700px;
  background-color: slategray;
}

.app-menu-centered-wrapper {
  height: inherit;
  display: flex;
}

.page-title {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  padding-left: 10px;
}

.app-btn {
  color: white;
  width: 100%;
  border: 0px;
  padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px 50px;
    width:fit-content;
    margin:auto;
    justify-content:center;
    margin:auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
