.app-nav-menu-item {
    cursor:pointer;
    display:flex;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid cadetblue;
}

  .app-nav-menu-item:hover span
  {
      text-decoration:underline;
      color:orangered;
  }

  .app-nav-menu-item span {
    display: block;
    position: relative;
    margin: auto;
    width: fit-content;
    justify-content: center;
    color: #5b6ab1;
    font-weight: bold;
  }
