<div class="app-admin-manage-institution center container">
  <div>
    <h5 style="color:white;">Institutions</h5>
  </div>
  <div *ngIf="!hasInstitution">
    <button (click)="onOpenDialog('Add')" class="add-btn">
      <i class="bi bi-clipboard-plus fa-lg" style="font-size: 24px; color: greenyellow;"></i>
    </button>
  </div>
  <table mat-table [dataSource]="institutions" class="mat-elevation-z8">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> <strong>{{element.Name}}</strong> </td>
    </ng-container>
    <ng-container matColumnDef="IsActive">
      <th mat-header-cell *matHeaderCellDef>Is Active</th>
      <td mat-cell *matCellDef="let element">
        <i *ngIf="element.IsActive" class="bi bi-check2" style="font-size:24px;color:darkgreen;"></i>
        <i *ngIf="!element.IsActive" class="bi bi-stopwatch"></i>
      </td>
    </ng-container>
    <ng-container matColumnDef="UpdatedDate">
      <th mat-header-cell *matHeaderCellDef>Updated Date</th>
      <td mat-cell *matCellDef="let element"> {{element.UpdatedDate}} </td>
    </ng-container>
    <ng-container matColumnDef="CreatedDate">
      <th mat-header-cell *matHeaderCellDef>Created Date</th>
      <td mat-cell *matCellDef="let element"> {{element.CreatedDate}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a class="action-btn" (click)="onOpenDialog('Edit', element)">Edit</a>
        |
        <a class="action-btn" (click)="onOpenDialog('Delete', element)">Delete</a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
