#login-comp {
  width: fit-content;
  border: 1px solid rgb(190, 190, 190);
  padding:40px;
  box-shadow: 0px 0px 5px  rgb(150, 150, 150);
  top: 100px;  
}

  #login-comp label {
    color: black;
    font-weight: 400;
  }

#login-comp ul {
  list-style: none;
  padding-left:0px;
}

#login-comp li {
  padding-bottom: 2em;
}

  #login-comp input {
    line-height: 2em;
    width: 300px;
    border: 2px solid #5b6ab1;
    outline-color: black;
    border-radius: 12px;
  }

  #login-comp button {
    width: 100%;
    border: 0px;
    background-color: #5b6ab1;
    color: white;
    padding: 10px;
    outline: none;
    border-radius: 12px;
  }

#login-comp .not-registered-wrapper {
  display:block;
  width:fit-content;
}

#login-comp .login-logo {
  display:inline-flex;
  height: 64px;
  box-shadow: 0px 5px 5px 0px #fefefe;
  border-color: #f0f0f0;
}


#login-comp .login-logo h3 {
    position:relative;
    top: 15px;
    left:40px;
}
