<div id="app-admin-nav-menu">
  <ul>
    <li>
      <a [routerLink]="['/admin/myinstitution']">
        <i class="bi bi-building"></i>&nbsp;My Institution
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/teachers']">
        <i class="bi bi-mortarboard"></i>&nbsp;Teachers
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/students']">
        <i class="bi bi-book-half"></i>&nbsp;Students
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/classes']">
        <i class="bi bi-calendar-event"></i>&nbsp;Classes
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/grades']">
        <i class="bi bi-bootstrap"></i>&nbsp;Grades
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/courses']">
        <i class="bi bi-briefcase"></i>&nbsp;Courses
      </a>
    </li>
  </ul>
</div>
